THESIS_APP_ENV=development
THESIS_ALLOWED_ORIGINS=["http://localhost:5173"]
THESIS_MAX_UPLOAD_MB=20
THESIS_STORAGE_DIR=storage
THESIS_DEFAULT_DEGREE=undergraduate
THESIS_LLM_PROVIDER=rule_based
THESIS_LLM_API_KEY=
